[Unit]
Description=Linux L-Connect Wireless
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/libexec/@ALIAS@/@NAME@d
Restart=always
RestartSec=1
KillMode=control-group
RuntimeDirectory=@NAME@
RuntimeDirectoryMode=0755

# Clean, predictable logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
