name: Build Installer

on:
  workflow_call:
    inputs:
      tag_name:
        required: false
        type: string
        default: ""

jobs:
  fedora-rpm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fedora_ver: [42, 43]
    container:
      image: fedora:${{ matrix.fedora_ver }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dnf install -y rpm-build python3-devel gcc python3-pip tar sed systemd-rpm-macros
          pip install -r requirements.txt

      - name: Run Build
        run: |
          chmod +x ./rpm/compile.sh
          chmod +x vars.sh
          ./rpm/compile.sh ${{ (inputs.tag_name != '' && format('--releaseVer {0}', inputs.tag_name)) || '' }}

      - name: Check build identity
        run: |
          python3 ./src/utils.py
      
      - name: Save Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fedora-${{ matrix.fedora_ver }}
          path: ~/rpmbuild/RPMS/x86_64/*.rpm
          retention-days: 1
          if-no-files-found: error
  deb-installer:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: ubuntu
            version: "22.04"
          - distro: ubuntu
            version: "24.04"
          - distro: debian
            version: "12"
    
    container:
      image: "${{ matrix.distro }}:${{ matrix.version }}"

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            dpkg-dev \
            debhelper \
            build-essential \
            python3-dev \
            python3-pip \
            python3-venv \
            sudo
          pip install -r requirements.txt --break-system-packages || pip install -r requirements.txt

      - name: Run Build
        run: |
          chmod +x ./deb/compile.sh
          chmod +x vars.sh
          ./deb/compile.sh ${{ inputs.tag_name && format('--releaseVer {0}', inputs.tag_name) || '' }}
          cp -r ./deb/.result/ ./result

      - name: Check build identity
        run: |
          python3 ./src/utils.py
      
      - name: Save Artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb-${{ matrix.distro }}${{ matrix.version }}
          path: ./result/*.deb
          retention-days: 1
          if-no-files-found: error